<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2>Add your clothing in catalog</h2>
    <form action="/addclothing" method="post">
    <label for="Nr">In stock</label>
    <input type="text" id="Nr" name="Nr"><br><br>

    <label for="Tip">Tip</label>
    <input type="text" id="Tip" name="Tip"><br><br>

    <label for="Brand">Brand</label>
    <input type="text" id="Brand" name="Brand"><br><br>

    <label for="Description">Description</label>
    <input type="text" id="Description" name="Description">

    <input type="submit" value="Sumbit" onclick="location.href='home.html';">
    </form>
</body>
</html>